{
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": false,
  "importOrderParserPlugins": ["typescript"],
  "importOrder": ["<THIRD_PARTY_MODULES>", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "trailingComma": "none"
}
